<mat-toolbar color="primary">
  <span>Drink Recipes</span>
</mat-toolbar>

<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput [(ngModel)]="searchQuery" (input)="searchDrinks()" placeholder="Search for drinks">
  </mat-form-field>

  <mat-card *ngIf="drinks.length > 0">
    <mat-list>
      <mat-list-item *ngFor="let drink of drinks" (click)="selectDrink(drink)">
        <mat-icon matListIcon>local_drink</mat-icon>
        <div>
          <h3>{{ drink.name }}</h3>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card>

  <fieldset *ngIf="selectedDrink">
    <legend>Recipe for {{ selectedDrink.name }}</legend>
    <p>{{ selectedDrink.recipe }}</p>
  </fieldset>

  <button mat-raised-button color="primary" routerLink="/add">Add New Drink</button>
</div>
