.container {
  padding: 16px;
}

mat-card {
  margin: 16px 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

mat-icon {
  margin-right: 16px;
}

fieldset {
  margin-top: 20px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

legend {
  font-weight: bold;
}

p {
  margin: 0;
}
